Title: <%= @job.title %>
Tags:
<br>
    <ul>
<%# @job.tags.each do |tag| %>
      <li>Tags:  <%#= tag.title %></li>
<%# end %>
    </ul>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>

Company: <%= link_to @job.company.name, company_path(@job.company) %>
